body {
    font-family: 'Slabo 27px', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiar a "flex-start" para alinear el contenido en la parte superior */
    height: 120vh;
    position: relative;
}

h1 {
    margin-top: 5px;
}

#board-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* Oculta el contenido que se desborda */
    position: relative;
}

#image-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* Oculta el contenido de la imagen que se desborda */
    position: relative;
}


#puzzle-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: relative;
}

#board {
    display: grid;
    background-color: grey;
    max-width: 100%; /* Asegura que el tablero no se salga del contenedor */
    max-height: 100%; /* Asegura que el tablero no se salga del contenedor */
    position: relative;
}

.grid-cell {
    width: auto; /* Tamaño de celda automático */
    height: auto; /* Tamaño de celda automático */
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta contenido que se desborda */
    position: relative;
}

.grid-cell img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen para caber completamente en la celda */
    position: relative;
}

#board-size, #image-options{
    font-family: 'Slabo 27px', sans-serif;
    font-size: 15px;
}

.buttons button{
    font-family: 'Slabo 27px', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.board-size{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

#tamañop, #imagenp {
    margin-bottom: 5px;
    font-size: 17px;
}

#imagenp {
    margin-top: 15px;
}

#movements{
    position: absolute;
    top: 50%; 
    left: 20px;
    width: 20%;
    height: 15%;
}

#movements::before{
    content: "Cantidad de movimientos realizados: ";
}

.hidden {
    opacity: 0;
}